.motion-1 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-2 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-3 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-4 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-5 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-6 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-7 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-8 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-9 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-10 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-11 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }
.motion-12 { opacity: 0; @include translateY(50px); @include transition(all, .5s); }

.motion-x-1 { opacity: 0; @include translateX(-50px); @include transition(all, .5s); }
.motion-x-2 { opacity: 0; @include translateX(-50px); @include transition(all, .5s); }
.motion-x-3 { opacity: 0; @include translateX(-50px); @include transition(all, .5s); }
.motion-x-4 { opacity: 0; @include translateX(-50px); @include transition(all, .5s); }
.motion-x-5 { opacity: 0; @include translateX(-50px); @include transition(all, .5s); }
.motion-x-6 { opacity: 0; @include translateX(50px); @include transition(all, .5s); }
.motion-x-7 { opacity: 0; @include translateX(50px); @include transition(all, .5s); }
.motion-x-8 { opacity: 0; @include translateX(50px); @include transition(all, .5s); }
.motion-x-9 { opacity: 0; @include translateX(50px); @include transition(all, .5s); }
.motion-x-10 { opacity: 0; @include translateX(50px); @include transition(all, .5s); }

.motion-extend-1 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-2 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-3 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-4 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-5 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-6 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-7 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-8 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-9 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }
.motion-extend-10 { opacity: 0; @include scaleXY(.1, .1); @include transition(all, .5s); }

.motion-reduce-1 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-2 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-3 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-4 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-5 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-6 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-7 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-8 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-9 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }
.motion-reduce-10 { opacity: 0; @include scaleXY(1.5, 1.5); @include transition(all, .5s); }

.motion-scale-y-1 { opacity: 0; @include scaleY(0); @include transition(all, .5s); transform-origin: center bottom; }
.motion-scale-y-2 { opacity: 0; @include scaleY(0); @include transition(all, .5s); transform-origin: center bottom; }
.motion-scale-y-3 { opacity: 0; @include scaleY(0); @include transition(all, .5s); transform-origin: center bottom; }

.active {
	.motion-1 { opacity: 1; @include translateY(0); @include transitionDelay(.2s); }
	.motion-2 { opacity: 1; @include translateY(0); @include transitionDelay(.4s); }
	.motion-3 { opacity: 1; @include translateY(0); @include transitionDelay(.6s); }
	.motion-4 { opacity: 1; @include translateY(0); @include transitionDelay(.8s); }
	.motion-5 { opacity: 1; @include translateY(0); @include transitionDelay(1.0s); }
	.motion-6 { opacity: 1; @include translateY(0); @include transitionDelay(1.2s); }
	.motion-7 { opacity: 1; @include translateY(0); @include transitionDelay(1.4s); }
	.motion-8 { opacity: 1; @include translateY(0); @include transitionDelay(1.6s); }
	.motion-9 { opacity: 1; @include translateY(0); @include transitionDelay(1.8s); }
	.motion-10 { opacity: 1; @include translateY(0); @include transitionDelay(2.0s); }
	.motion-11 { opacity: 1; @include translateY(0); @include transitionDelay(2.2s); }
	.motion-12 { opacity: 1; @include translateY(0); @include transitionDelay(2.4s); }

	.motion-x-1 { opacity: 1; @include translateX(0); @include transitionDelay(.2s); }
	.motion-x-2 { opacity: 1; @include translateX(0); @include transitionDelay(.4s); }
	.motion-x-3 { opacity: 1; @include translateX(0); @include transitionDelay(.6s); }
	.motion-x-4 { opacity: 1; @include translateX(0); @include transitionDelay(.8s); }
	.motion-x-5 { opacity: 1; @include translateX(0); @include transitionDelay(1.0s); }
	.motion-x-6 { opacity: 1; @include translateX(0); @include transitionDelay(1.2s); }
	.motion-x-7 { opacity: 1; @include translateX(0); @include transitionDelay(1.4s); }
	.motion-x-8 { opacity: 1; @include translateX(0); @include transitionDelay(1.6s); }
	.motion-x-9 { opacity: 1; @include translateX(0); @include transitionDelay(1.8s); }
	.motion-x-10 { opacity: 1; @include translateX(0); @include transitionDelay(2.0s); }

	.motion-extend-1 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.1s); }
	.motion-extend-2 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.2s); }
	.motion-extend-3 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.3s); }
	.motion-extend-4 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.4s); }
	.motion-extend-5 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.5s); }
	.motion-extend-6 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.6s); }
	.motion-extend-7 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.7s); }
	.motion-extend-8 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.8s); }
	.motion-extend-9 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.9s); }
	.motion-extend-10 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(1s); }

	.motion-reduce-1 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.1s); }
	.motion-reduce-2 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.2s); }
	.motion-reduce-3 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.3s); }
	.motion-reduce-4 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.4s); }
	.motion-reduce-5 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.5s); }
	.motion-reduce-6 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.6s); }
	.motion-reduce-7 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.7s); }
	.motion-reduce-8 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.8s); }
	.motion-reduce-9 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(.9s); }
	.motion-reduce-10 { opacity: 1; @include scaleXY(1, 1); @include transitionDelay(1s); }

	.motion-scale-y-1 { opacity: 1; @include scaleY(1); @include transitionDelay(.1s); }
	.motion-scale-y-2 { opacity: 1; @include scaleY(1); @include transitionDelay(.2s); }
	.motion-scale-y-3 { opacity: 1; @include scaleY(1); @include transitionDelay(.3s); }
}
